
<hr>
<div id="list">
</div>
<% @posts.each do |post| %>
  <div class="post" data-post-id="<%= post.id %>">
    <div class="post-date">
      ID：<%= post.id %>
    </div>
    <div class="post-date">
      記入日：<%= post.posted_at %>
    </div>
    <div class="post-date">
      タイトル：<%= post.title %>
    </div>
    <div class="post-content">
      担当者：<%= post.pic %>
    </div>
    <div class="post-content">
      ステータス：<%= post.status %>
    </div>
    <div class="post-content">
      詳細：<%= post.content %>
    </div>
    <button class="delete-button" data-post-id="<%= post.id %>">削除</button>
  </div>
<% end %>