<h1>AjaxApp</h1>
<%= form_with url: "/posts", method: :post, id: "form", local: true do |form| %>
  タイトル:<%= form.text_field :title, id: "title", name: "post[title]" %><br>
  担当者:<%= form.text_field :pic, id: "pic", name: "post[pic]" %><br>
  ステータス:<%= form.text_field :status, id: "status", name: "post[status]" %><br>
  詳細:<%= form.text_field :content, id: "content", name: "post[content]" %><br>
  <%= form.submit '投稿する', id: "submit" %>
<% end %>


<div id="list">
</div>

<% @posts.each do |post| %>
<div class="post" data-post-id="<%= post.id %>">
  <div class="post-date">
    ID：<%= post.id %>
  </div>
  <div class="post-date">
    記入日：<%= post.posted_at %>
  </div>
  <div class="post-date">
    タイトル：<%= post.title %>
  </div>
  <div class="post-content">
    担当者：<%= post.pic %>
  </div>
  <div class="post-content">
    ステータス：<%= post.status %>
  </div>
  <div class="post-content">
    詳細：<%= post.content %>
  </div>
  <button class="delete-button" data-post-id="<%= post.id %>">削除</button>
</div>
<% end %>